<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<%=render partial: "emailer/email_header"%>
    <h2><%=I18n.t "bidspain.mail.remindpwassword1"%>  </h2>
    <table >
    	<tr>
    		<td>
    			<%=I18n.t "bidspain.mail.remindpwassword2"%>  <strong><%=@user.username%></strong> .    			  			
    		</td>
    	</tr>
    	<tr>
    		<td>
    			<%=I18n.t "bidspain.mail.remindpwassword3"%>  <strong><%=@user.newPassword%></strong> .  	  			
    		</td>
    	</tr>
    </table>
  </body>
</html>