<div id="UserRegister">
	<form id="RemindPassword" action="/user/remind_password" method="post"> 
		<h2><%=I18n.t "bidspain.user.remindpassword1"%> 	</h2>
		<%if @success %>
			<div class="alertBox" id="successBox">		
				<p>
					<%=I18n.t "bidspain.user.remindpassword2"%> 
				</p>
			</div>
		<%end%> 
		<div class="form_row row-100 <%=if @error then 'field_with_errors' end%>">	
				<input type="text" name="remindText" size="40px">
				<%if @error%>
					<p class="inline-errors value "><%=I18n.t "bidspain.user.remindpassword3"%> </p>
				<%end%>		
		
		</div>
		<div class="button_row row-100">	
			<a  id="sendForm"  class="registerUser formButton " href="#">Enviar</a>
		</div>
	
		<div class="row-100">
			<p>
				<%=I18n.t "bidspain.user.remindpassword4"%> 
			</p>
			
		</div>



	</form>
</div>
