<div id="infoContainer">
	<div id="whoweareContainer">
		<h2 class="row-100 centered"> <%=I18n.t "bidspain.static.whoweare.title"%>  </h2>
		
		<div class="row-100 centered">
			<p>	
				<%=I18n.t "bidspain.static.whoweare.text1"%>

			</p>
			<p>
				<%=I18n.t "bidspain.static.whoweare.text2"%>
				
			</p>
		</div>
		<div class="row-100 quote">
			<p>“<%=I18n.t "bidspain.static.whoweare.text3"%> ”</p>
		</div>	
		
		<h2 class="row-100 centered"> <%=I18n.t "bidspain.static.whoweare.text4"%>  </h2>
		
		<div class="row-100 centered">
			<p>	
					<%=I18n.t "bidspain.static.whoweare.text5"%>
			</p>
			<p>
				<%=I18n.t "bidspain.static.whoweare.text6"%>
				
			</p>
		</div>
		
		<h2 class="row-100 centered"> <%=I18n.t "bidspain.static.whoweare.text7"%> </h2>
		
		<div class="row-100 centered">
			<p>	
				<%=I18n.t "bidspain.static.whoweare.text8"%> 
				
			</p>
		</div>
		
		<h2 class="row-100 centered"> <%=I18n.t "bidspain.static.whoweare.text9"%>  </h2>
		
		<div class="row-100 centered">
			<p>	
				<%=I18n.t "bidspain.static.whoweare.text10"%> 
			</p>
		</div>		
		

	</div>	
</div>	


